{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Sensor page
</h1>
<div class="content">
    <ul> 
        <li>Sensor 1, SN. 0387AE</li>
        <li>Sensor 2, SN. 0412BA </li>
        <li>Sensor 3, SN. 0412BB </li>
    </ul>


</div>
<div class="content">
  <div class="box">
    <form method="POST" action="/sensor">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="sensorid" placeholder="Sensor Identifier" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="sensorkey" placeholder="Authorization Key">
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Add Sensor</button>
    </form>
</div>

{% endblock %}