{% extends "base.html" %}

{% block content %}
<h1 class="title">
  File Upload Success  
</h1>
<div class="content">
    <p>
    The file has been uploaded successfully. 
    Continue to upload more files if needed or go to the sharing type to make available to other application users.
    </p>
</div>

<div class="content">
  <ul> 
      <li>Group 1,  details of group</li>
      <li>Group 12,  details of group</li>
      <li>Group 6,  details of group</li>
      <li>Group 5,  details of group</li>
      <li>Group 14,  details of group</li>

  </ul>
</div>


{% endblock %}