{% extends "base.html" %}

{% block content %}

    <div class="columns" >
        <div class="column is-full" > <hr class="navbar-divider is-light"  >  </div>
    </div>
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title">Secure File Repository File Upload </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, perspiciatis. Tempora adipisci corporis illum saepe sequi neque natus fuga distinctio cum aperiam, ad consequatur asperiores consectetur voluptates at ut illo.</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-warning">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <p class="has-text-info py-4 has-text-justified"> Note, any files uploaded will be assigned ownership to account {{ useraccessid }} and will require additional steps to share
                the file with any of the groups {{ useraccessid }} is currently a member of.</p>
                <form method="POST" action="/flup2" enctype=multipart/form-data>
                    <div class="label">Keywords or Meta Data Tagging</div>
                        <div class="control">
                        <input class="input is-normal" type="text" name="fileup-keyword-tag" placeholder="Add keywords or tags to use for search filtering" autofocus="">
                        </div> <!-- End first control div-->
                    <div class="field"> 
                        <div class="label">File Name</div>
                        <div class="control">
                            <input type="file" name="fileup">
                            <div class="file">
                                <label class="file-label">
                                  <input class="file-input" type="file" name="notfileup">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label"> Choose a file to upload </span>
                                    </span>
                                </label>
                              </div><!-- End file input div class-->  
                              <div class="select" >
                                <select name="uploadedfiletype">
                                <option value="tar">Archive File: TAR</option>
                                <option value="zip">Archive File: ZIP</option>
                                <option value="pdf">Document File: PDF</option>
                                <option value="docx">Document File: DOCX</option>
                                <option value="jpeg">Image File: JPEG</option>
                                <option value="svg">Image File: SVG</option>
                                <option value="xlsx">Spreadsheet: XLSX</option>
                                <option value="txt">Text/Data File: TXT</option>
                                <option value="csv">Text/Data File: CSV</option>
                                </select>
                                </div> <!-- end div select-->                     
                        </div> <!-- End Div control-->
                    
                
                    </div> <!-- end div field-->
                        
                        <button class="button is-block is-info is-large is-fullwidth">Upload file</button>
                </form>
                </div> <!-- End of box form-->
            <h2> &nbsp </h2>
        </div> <!-- End of 2/3 column-->
        <div class="column is-one-third" >
            <p> &nbsp</p>
        </div> <!-- end of 1/3-->
        <!--<div class="column"> <p> &nbsp</p></div>  auto column filler -->
    </div> <!-- end columns-->
{% endblock %}