{% extends "base.html" %}

{% block content %}

<div class="columns" >
  <div class="column is-full" > <hr class="navbar-divider is-light"  >  </div>
</div>
<div class="columns">
  <div class="column is-two-thirds">

    <h2 class="title"> File Upload Success  </h2>
    <!-- Messages if needed-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
      <div class="content has-text-justified">
    <p> The file {{ fname }} has been uploaded successfully and is currently only viewable by the account {{ aid }}. 
    Continue to upload more files as needed. To make files available to other application users, use the Secure Repository's 
    search feature to locate a particular file, select the file, then shareing and finally the groups you wish to share the file with.
    </p>
</div>

</div> <!-- End of 2/3 column-->
<div class="column is-one-third" >
    <p> &nbsp</p>
</div> <!-- end of 1/3-->
</div> <!-- end columns-->

{% endblock %}