{% extends "base.html" %}

{% block content %}

<div class="columns" >
  <div class="column is-full" > <hr class="navbar-divider is-light"  >  </div>
</div>
<div class="columns is-multiline">
  <div class="column is-two-thirds">
    <h3> Some kind of subtitle with dynamics? </h3>

    <h2 class="title">
      Files avaliable for authorized access:
    </h2>
    <div class="content">
      <!-- Debug SQL <p>  Raw SQL out : {{ azfiledict}}</p> -->
      <p > Select the file you wish to work with</p>
      <form method="POST" action="/fsd5">
      <div class="control">
        <p> File name &nbsp; &nbsp; Keywords/Tags &nbsp; &nbsp; Creation Date &nbsp; &nbsp; File Type &nbsp; &nbsp; File Size</p>
        {% for fileuuid, metadata in azfiledict.items() %}
          <input type="radio" name="fileselection" value="{{ fileuuid }}""> {{metadata}} <label class="radio">
        {% endfor %}
        <p>&nbsp;</p>
        <p> this should have three radio buttons here to route the request </p>
        <button class="button is-block is-info is-large is-fullwidth">proceed</button>
        </form>
    </div> <!-- end control-->
  </div> <!-- end two thirds column-->

  <div class="column">
    <p> auto fill   should be on right now</p>
    <p>&nbsp;</p>
  </div> <!-- End autofill column-->
</div> <!-- end columns div-->
<!-- Everything below here should be in base.html  -->
{% endblock %}