{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Files avaliable for downloading
</h1>

<h2> Some kind of subtitle with dynamics? </h2>

<!-- This is actually a form element, not sure how we display the remaining fields at this ping-->
<div class="content">
  <p>  Raw SQL out : {{ azfiledict}}</p>
  <p> Select the file you wish to work with</p>
  <p> File name &nbsp &nbsp Keywords/Tags &nbsp &nbsp Creation Date &nbsp &nbsp File Type &nbsp &nbsp File Size</p>
  <div class="control">
    {% for fileuuid, metadata in azfiledict.items() %}
      <input type="radio" name="fileselection" value={{ fileuuid }}> {{metadata}} <label class="radio">
    {% endfor %}
  </div>
    

</div>
<div class="content">
  <p> this should have three buttons here,  forms behind collect data from that is selected above </p>


</div>

{% endblock %}