{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Files avaliable for downloading
</h1>

<h2> Some kind of subtitle with dynamics? </h2>

<!-- This is actually a form element, not sure how we display the remaining fields at this ping-->
<div class="content">
  <p>  Raw SQL out : {{ azfiledict}}</p>
  <p> Select the file you wish to work with</p>
  <form method="POST" action="/fsd5">
  <div class="control">
    <p> File name &nbsp; &nbsp; Keywords/Tags &nbsp; &nbsp; Creation Date &nbsp; &nbsp; File Type &nbsp; &nbsp; File Size</p>
    {% for fileuuid, metadata in azfiledict.items() %}
      <input type="radio" name="fileselection" value="{{ fileuuid }}""> {{metadata}} <label class="radio">
    {% endfor %}
    <p>&nbsp;</p>
    <p> this should have three radio buttons here to route the request </p>
    <button class="button is-block is-info is-large is-fullwidth">proceed</button>
    </form>
  </div> <!-- end control-->
    

</div>
<div class="content">
 


</div>

{% endblock %}