{% extends "base.html" %}

{% block content %}
<h1 class="title">
  File Share Inital page 
</h1>
<h2> some dynamic subtitle </h2>
<div class="content">
    <p> This would be the file details : <br>
    filename, first six keywords, file date
    </p>
    
</div>

<div class="content">
  <form method="POST" action="/fshr4">
  <p> This would be the user's group membership list  checkbox</p>
  <p> {{ prezgroups }} </p> 
  
  <ul> 
    {% for group in prezgroups %}
      <li> {{ group }} </li>
    {% endfor %}
  </ul>
   
  <p> Select the groups you wish to share the files ( checkboxes above) then click the update button below </p>
  <button class="button is-block is-info is-large is-fullwidth">Update</button>
  </form>
</div>

{% endblock %}