{% extends "base.html" %}

{% block content %}

<div class="columns" >
  <div class="column is-full" > <hr class="navbar-divider is-light"  >  </div>
</div>
<div class="columns">
  <div class="column is-two-thirds">

    <h2 class="title"> File Upload Success  </h2>
    <!-- Messages if needed-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
      <div class="content has-text-justified">
    <p> The file {{ fname }} has been successfully deleted by the account {{ aid }}. To delete additional files use the Secure Repository's 
    search feature to locate a particular file, select the file, select the delete radio button and press teh "proceed" button. Note, there is 
    currently no confirmation step, files deleted in error will need to be recovered from a previous system backup.
    </p>
</div>

</div> <!-- End of 2/3 column-->
<div class="column is-one-third" >
    <p> &nbsp</p>
</div> <!-- end of 1/3-->
</div> <!-- end columns-->

{% endblock %}