{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="column is-3">
    <h3 class="title">Secure File Repository Login</h3>
    
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-warning">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login2">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="accessid" placeholder="ISS access ID (EG. EU123i45j)" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="passwd" placeholder="access ID Password">
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
    <h2> Warning. By logging into this application you are consenting to the acceptable use policy defined by the Internation Space Station</h2>
</div>
</section>
{% endblock %}