{% extends "base.html" %}

{% block content %}
<div class="columns" >
    <div class="column is-full" > <hr class="navbar-divider is-light"  >  </div>
  </div>
  <div class="columns">
    <div class="column is-two-thirds">
        <h2 class="title">  User Details</h2>

    <div class="content has-text-justified">
        <p> This is personally identifable information currently held within the Secure File Repository application. To make any changes 
        to these records or request the record to be removed please contact the International Space Station ground control information 
        services department.
        </p>
        <ul>
            {% for atr, data in udict.items() %}
            <dt> {{ atr }}</dt>
            <dd> {{ data }} </dd>

            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <p> This would be the user's group membership list</p>
            <ul> 
                <li>Group 1,  details of group</li>
                <li>Group 12,  details of group</li>
                <li>Group 6,  details of group</li>
                <li>Group 5,  details of group</li>
                <li>Group 14,  details of group</li>

            </ul>
    </div>
    <!--</div>-->

    
</div> <!-- End of 2/3 column-->
<div class="column is-one-third" >
    <p> &nbsp</p>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-warning">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <p> User Change password form</p>
        <form method="POST" action="/ud4">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="accessid" placeholder="Access ID" autofocus="">
                </div>
            </div>
      
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="pwd" placeholder="Current Access ID Password">
                </div>
                <div class="control">
                  <input class="input is-large" type="password" name="pwd2" placeholder="New Access ID Password">
              </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div> <!-- end of 1/3-->
<!--<div class="column"> <p> &nbsp</p></div>  auto column filler -->
</div> <!-- end columns-->

{% endblock %}